ENVIRONMENT=development
API_KEY=your_custom_fastapi_key_here

# Qdrant databases are usually on port 6333. This is where the vector database is hosted so you can access it and retrieve data
QDRANT_HOST=http://127.0.0.1:6333
QDRANT_API_KEY=your_qdrant_api_key_here

# For Modal writing so there is a buffer. This is so the droplet only takes in what it can handle
REDIS_HOST=your_redis_droplet_ip_here
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password_here

# For inferece
GROQ_API_KEY=your_groq_api_key_here